:host {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
  
  label {
    display: block;
    width: 6em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  
  input {
    height: 1.2em;
    font-size: 0.8em;
    padding-left: .4em;
    border:0;
    border-bottom: 1px solid grey;
  }

  td , th{
      text-align:center;
      font-size: 0.8em;
      font-family: Arial
    }
   th {
    font-size: 0.7em;
    font-family: Verdana
   } 

  .inplabel {
    display: inline-block;
    width:80px;
    margin: .5em 0;
    color: #607D8B;
    font-family: Arial;
   
  }

  .errlabel {
    width:180px;
    margin: .5em 1em;
    color: red;
    font-family: Arial;
    
  }


  .popupOf {
    display:none;
  }
  .popupOn {
    display:block;
    width:280px;
    height:110px;
    padding:10px;
    font-size: 0.8em;   
    position:absolute;
    border:1px solid grey;
    background-color: #FAFAFA; 
    overflow-y: auto;
    -ms-overflow-y: auto;
    overflow-x: hidden;
      -ms-overflow-x: hidden;
      top:110px;
  }
  .showtabOn{ border:0 ; display:block; }
  .showtabOf{ display:none;}

